div {
	text-align: center;
	margin-top: 200px;
	border: 1px solid #bfbfbf;
	width: 15%;
	border-radius: 4px;
	display: block;
    margin-left: auto;
    margin-right: auto; 
    background-color: #f2f2f2;
    padding-bottom: 20px;
    padding-top: 20px;
}